<head>
    <link rel="stylesheet" href="/css/edit.css">
</head>

<% layout("layouts/boilerplate") %>
<div class="body">
    <!-- <h1 class="heading"><b>Edit movie details</b></h1> -->
    <div class="container mt-5">
        <!-- name of movie -->
        <h4><b><%=movie.name%></b></h4>
        <p>Genre : <%=movie.genre%></p>
        <form method="post" action="/movies/<%=movie.id%>?_method=PATCH">
            <div class="custom">
                <!-- rating slider -->
                <div class="form-group">
                    <label for="customRange3" class="form-label slider">Current Rating : <%=movie.rating%></label>
                    <input type="range" class="form-range slider" min="0" max="5" step="0.1" id="customRange3" name="newRating" oninput="updateValue('customRange3')">
                    <p id="rangeValue">Selected Value: <span id="customRange3rana">2.5</span></p>
                </div>
            <!-- for description  -->
            <div class="input-group">
                <span class="input-group-text">Description</span>
                <textarea class="form-control" name="newDesc" aria-label="With textarea"><%=movie.description%></textarea>
            </div>

            <!-- Submit button -->
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <script src="/js/edit.js"></script>
</div>

